/* Variables */

:root {
  --color-primary: hsl(163, 72%, 47%);
  --color-secondary: hsl(329, 100%, 50%);
  --color-auxiliary: hsl(270, 25%, 73%);
  --color-background: hsl(278, 56%, 14%);
  --color-text: hsl(0, 0%, 98%);

  --color-primary-hover: hsl(163, 72%, 15%);
  --color-secondary-hover: hsl(329, 100%, 30%);
  --color-background-hover: hsl(298, 56%, 15%);

  --color-gradient: linear-gradient(
    45deg,
    var(--color-secondary) 0%,
    rgba(69, 10, 117, 1) 50%,
    var(--color-background) 100%
  );

  --font-nunito: "Nunito Sans", sans-serif;
  --font-gidole: "Gidole", sans-serif;

  --nav-size: 43px;
  --spacing-size: 40px;

  font-family: var(--font-gidole);
  color: var(--color-background);
}

/* Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:where(a[href]) {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: contain;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 170px;
}

body {
  width: 100%;
  background-color: var(--color-background);
}

/* Components */

/* Navbar */

.navbar {
  background-color: var(--color-primary);
}

.navbar-brand {
  margin-right: 0;
}

.nav-link {
  color: var(--color-background);
}

.nav-link:hover {
  color: var(--color-primary-hover);
}

.logo {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  width: 45px;
}

.menu {
  font-weight: 600;
  font-size: 1rem;
}

.menu-link {
  position: relative;
  font-family: var(--font-gidole);
}

.menu-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: scaleX(var(--link-scale, 0));
  transform-origin: left;
  transition: transform 200ms ease-in-out;
  background-color: currentColor;
}

.menu-link:hover {
  color: var(--color-primary-hover);
}

.menu-link:hover::before {
  --link-scale: 1;
}

.menu-link.active::before {
  --link-scale: 1; /* Faz a linha inferior aparecer na classe .active */
}

.btn-menu {
  background-color: var(--color-background);
  border-radius: 8px;
  color: var(--color-text);
  width: fit-content;
  border: none;
  padding: 0.45rem 1rem;
  margin-left: 60px;
  font-size: 1rem;
  font-family: var(--font-gidole);
  font-weight: 600;
  position: relative;
}

.btn-menu:hover {
  background-color: var(--color-secondary);
}

.btn-menu.btn-active {
  background-color: var(--color-secondary);
}
.menu ul {
  display: flex;
  gap: 3rem;
}

/* Main page layout */

.layout {
  --cap-inline-size: 1060px;

  display: grid;
  grid-template-columns: 1fr min(var(--cap-inline-size), 100%) 1fr;
  row-gap: var(--list-gap, 16px);
  justify-content: center;
  padding-inline: 24px;
  padding-top: calc(var(--nav-size));
  color: var(--text-color);
}

.layout--list {
  --list-gap: 0;
  background: linear-gradient(
      to bottom,
      var(--color-background) 20%,
      transparent,
      var(--color-background) 80%
    ),
    var(--bg-pattern-background);
}

.layout > * {
  grid-column: 2;
}

/* Remove as margens incorretas das fontes e listas*/
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:is(p, h1, h2, h3, dt, dd) {
  font-family: var(--font-gidole);
  margin: 0;
  padding: 0;
}

:is(p, strong, small, button, .genre-list-item, .card-link) {
  font-family: var(--font-nunito);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
  font-family: var(--font-gidole);
  font-weight: 700;
}

.footer {
  font-family: var(--font-nunito);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 60px;
  min-height: 300px;
  gap: 64px;
  padding: 24px 24px 80px 24px;
  background-color: var(--color-primary);
  border-top: 4px solid var(--color-auxiliary);
  outline: 16px solid var(--color-background-hover);
  position: relative;
}

.footer-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-grow: 2;
  max-height: 80px;
}

.footer-info {
  display: grid;
  gap: 8px;
  font-style: normal;
  height: fit-content;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  width: fit-content;
}

.footer-menu h2 {
  font-family: var(--font-gidole);
  font-size: 1rem;
}

.footer-menu:nth-child(3) {
  align-items: flex-end;
}

.footer-menu a:hover {
  color: var(--ligh-blue-color);
}

.footer-list {
  display: grid;
  gap: 0.5rem;
}

.footer-logo {
  --size: 60px;
  height: var(--size);
  width: var(--size);
  object-fit: contain;
}

.footer-social-list {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* Login */

.login-layout {
  width: 100%;
  display: grid;
  place-items: center;
  min-height: 80vh;
  padding-top: calc(var(--nav-size) + var(--spacing-size));
  padding-inline: 16px;
}

.login-container {
  display: grid;
  gap: 16px;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  color: var(--header-footer-color);
  width: clamp(250px, 100%, 400px);
}

.login-container h1 {
  color: var(--header-footer-color);
}

.login-form {
  display: grid;
  gap: 16px;
}

.login-welcome {
  text-align: center;
}

.form-control:focus {
  border-color: #291038;
  box-shadow: 0 0 0 0.25rem #b548f740;
}

.form-label {
  font-family: var(--font-nunito);
}

.login-form-btn {
  background: var(--color-secondary);
  border: none;
  border-radius: 8px;
  color: var(--color-text);
  font-size: 1rem;
  padding-block: 0.8rem;
  position: relative;
}

.login-form-btn:hover {
  background-color: var(--color-secondary-hover);
  color: var(--color-text);
  transition: background 300ms ease-in-out;
}

/* Utilities */

.heading {
  font: 600 2rem var(--font-gidole);
}

.bg-dark1 {
  background-color: var(--header-footer-color);
}

.decorated-heading {
  color: var(--decorated-color, var(--color-background));
  position: relative;
}

.decorated-heading::before {
  content: "";
  height: 80%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: skew(10deg, 2deg);
  background-color: var(--decorated-bg, var(--color-text));
}

.decorated-btn {
  transition: transform 200ms ease-in-out;
  position: relative;
}

.decorated-btn:hover {
  --icon-x: 12px;
  --icon-y: -8px;
  --icon-rotate: 20deg;
}

.decorated-btn::before {
  content: "✨";
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(var(--icon-x, 8px), var(--icon-y, -12px))
    rotate(var(--icon-rotate, 0));
  transition: transform 200ms ease-in-out;
  filter: drop-shadow(3px 2px 0px var(--color-background));
}

.bg-indigo-500 {
  background-color: var(--color-auxiliary);
  color: var(--color-background);
}

/* Responsive */

@media (max-width: 420px) {
  .carousel-picture img {
    height: 300px;
  }
}

@media (max-width: 545px) {
  .footer-menu:nth-child(3) {
    align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .banner {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-stepper {
    grid-row: unset;
    grid-column: 1 / 3;
  }
}

@media (max-width: 850px) {
  .game-info {
    width: initial;
    min-width: initial;
  }
}

@media (max-width: 992px) {
  /* Ajuste o valor conforme o breakpoint do Bootstrap */
  .btn-menu {
    display: block; /* Garante que o botão seja exibido */
    margin: 1rem auto; /* Centraliza o botão */
    text-align: center;
  }

  .navbar-collapse {
    text-align: center; /* Centraliza o conteúdo do menu */
  }
}

@media (max-width: 1120px) {
  .search-title {
    text-align: center;
  }
}
